
<h2>Sign up</h2>

<form>
  <input type="email" placeholder="E-Mail Adresse" /><br />
  <input type="submit" value="login">


  <h2>Login</h2>

  <form>
    <input type="email" placeholder="E-Mail Adresse" /><br />
    <input type="password" placeholder="Passwort"/><br />
    <input type="submit" value="login">

