<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <h1>Travellog</h1>
      <a href="/user">user</a>
    </header>

    <div class="login-container">
      {{{body}}}
    </div>

    <footer>
      <a href="/">Home</a>
      <a href="/feed">Feed</a>
      <a href="/new_post">Beitrag erstellen</a>
      <a href="/impressum">Impressum</a>
    </footer>
  </body>

</html>

<!-- Feed auf die Startseite machen und einstellen, dass man den Feed nur anschauen kann, 
  wenn man eingeloggt ist - dadurch wird man automatisch auf das Login-Formular geführt  -->