<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <a href="/"><h1>Travellog</h1></a>
      <a class="icon" href="/user"><img
          src="/uploads/user.png"
          alt="User"
        /></a>
    </header>
    <img
      class="switzerland-picture"
      src="https://images.unsplash.com/photo-1570161766218-f8488ebb8078?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
    />
    <div class="login-container">
      {{{body}}}
    </div>

    <footer>

      <a href="/">Home</a>
      <a class="icon" href="/feed"><img
          src="/uploads/discord.png"
          alt="Feed"
        /></a>
      <a class="icon" href="/new_post"><img
          src="/uploads/blog.png"
          alt="Neuer Beitrag"
        /></a>
      <a class="icon" href="/favorits"><img
          src="/uploads/badge.png"
          alt="Neuer Beitrag"
        /></a>
      <a href="/impressum">Impressum</a>
    </footer>
  </body>

</html>

<!-- Feed auf die Startseite machen und einstellen, dass man den Feed nur anschauen kann, 
  wenn man eingeloggt ist - dadurch wird man automatisch auf das Login-Formular geführt  -->