<h1>Passwort ändern</h1>
<p>Hallo "username", hier kannt du dein Passwort ändern </p>
<form>
  <input type="passowrd" placeholder="altes Passwort" /><br />
  <input type="password" placeholder="neues Passwort" /><br />
  <input type="submit" value="ändern" />
</form>

<a href="/impressum">Impressum</a>