{{#user}}
  <h1>Passwort ändern</h1>
  <p>Hallo {{username}}, hier kannt du dein Passwort ändern </p>
  <form action="/user" method="POST">
    <input type="passowrd" name="oldPassword" placeholder="altes Passwort" /><br
    />
    <input type="password" name="newPassword" placeholder="neues Passwort" /><br
    />
    <input type="submit" value="ändern" />
  </form>

  <a href="/impressum">Impressum</a>
{{/user}}